<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Details</title>
</head>
<body>
    <h1>
        Hero Details
    </h1>
    <ul>
        <li>Name: {{single_hero.name}}</li>
        <li>Alter-Ego: {{single_hero.alter_ego}}</li>
        <li>Primary Ability: {{single_hero.primary_ability}}</li>
        <li>Secondary Ability: {{single_hero.secondary_ability}}</li>
        <li>Catchphrase: {{single_hero.catchphrase}}</li>
    </ul>
    
</body>
</html>